/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities if needed */
@layer utilities {
  .border-custom {
    border-color: var(--color-border);
  }
}

/* globals.css */

.badge-daily {
  background-color: #ffa500; /* Orange */
  color: white;
}

.badge-weekly {
  background-color: #1e90ff; /* DodgerBlue */
  color: white;
}

.icon-circle-fill {
  fill: currentColor;
}

.icon-circle {
  fill: none;
  stroke: currentColor;
}
